.star-rating {
  font-size: 2rem;
  color: #ccc;
}

.star-rating .fa-star {
  cursor: pointer;
}

.star-rating .checked {
  color: gold;
}
.scrollable-popup {
  max-height: 60vh;
  overflow-y: auto;
}
