body {
  background-image: url("/backend/image/خلفيه.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
}

.step {
  display: none;
}
.step.active {
  display: block;
}
